@charset "utf-8"; 
@media   screen and (min-width:300px )  {
    body{
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
       
    }
    #icone1{
        position:absolute;
        margin-left: -550px;
     
    }
    h1{
        position: relative;
    }
}